.task{id: "task_#{task.id}", class: "#{task.task_list.user == current_user ? 'owner' : 'visiting' }", "data-edit-url" => edit_user_task_list_task_path(task.task_list.user, task.task_list, task, format: :js)}
  .task_name= task.name
  
  - if task.task_list.user == current_user
    .task_actions{style: "display: none"}
      = link_to 'Edit', [:edit, task.task_list.user, task.task_list, task], remote: true
      = link_to 'Destroy', [task.task_list.user, task.task_list, task], method: :delete, data: { confirm: 'Are you sure?' }, remote: true