%h1= "#{@user.email} lists"

%table
  %tr
  - @task_lists.each do |task_list|
    %tr
      %td= task_list.privacy
      %td= link_to task_list.name, [@user, task_list]

      
      - if @user == current_user
        %td= link_to 'Edit', [:edit, @user, task_list]
        %td= link_to 'Destroy', [@user, task_list], method: :delete, data: { confirm: 'Are you sure?' }

%br

- if @user == current_user
  = link_to 'New Task list', [:new, @user, :task_list]
