#task_list
  %h1
    = link_to @task_list.name
    = image_tag("#{@task_list.privacy}.png", title: @task_list.privacy, alt: @task_list.privacy)
    
  - if @user == current_user
    = link_to 'edit', [:edit, @task_list.user, @task_list], id: "task_list_edit"

  - if @user != current_user
    #task_list_owner
      = "created by: "
      = link_to @user.email, [@user, :task_lists]
  
  #actions
    - if @user == current_user  
      = link_to_function "New Task", "$('#task_name').focus();"
    - elsif @task_list.public?
      - if current_user.task_list_marked_as_favorite?(@task_list)    
        = link_to "Unmark as favorite", user_unmark_task_list_as_favorite_path(current_user, task_list_id: @task_list.id), method: :post
      - else
        = link_to "Mark as favorite", user_mark_task_list_as_favorite_path(current_user, task_list_id: @task_list.id), method: :post         
    = link_to 'Back', [@task_list.user, :task_lists]

  #tasks
    = render @task_list.tasks
    - if @task_list.user == current_user
      = render "tasks/form", task_list: @task_list, task: Task.new
