#task_list
  %h1
    = link_to @user.email, [@user, :task_lists]
    %span /
    = link_to @task_list.name
    = image_tag("#{@task_list.privacy}.png", title: @task_list.privacy, alt: @task_list.privacy)

  %p#notice= notice
 
  #actions
    - if @user == current_user  
      = link_to_function "New Task", "$('#task_name').focus();"
      \|  
      = link_to 'Edit', [:edit, @task_list.user, @task_list]
      \|
    = link_to 'Back', [@task_list.user, :task_lists]
  
  #tasks
    = render @task_list.tasks
    - if @task_list.user == current_user
      = render "tasks/form", task_list: @task_list, task: Task.new
