%p#notice= notice

%p
  %b Name:
  = @task_list.name
%p
  %b Privacy:
  = @task_list.privacy

%table
  - @task_list.tasks.each do |task|
    %tr
      %td= task.name
      - if @task_list.user == current_user
        %td= link_to 'Edit', [:edit, @task_list, task]
        %td= link_to 'Destroy', [@task_list, task], method: :delete, data: { confirm: 'Are you sure?' }


- if @task_list.user == current_user  
  = link_to 'New Task', [:new, @task_list, :task]
  \|  
  = link_to 'Edit', [@task_list.user, @task_list]
  \|
= link_to 'Back', [@task_list.user, :task_lists]
