%p#notice= notice

%p
  %b Name:
  = @task_list.name
%p
  %b Privacy:
  = @task_list.privacy

%table
  - @task_list.tasks.each do |task|
    %tr
      %td= task.name
      %td= link_to 'Edit', [:edit, @task_list, task]
      %td= link_to 'Destroy', [@task_list, task], method: :delete, data: { confirm: 'Are you sure?' }

  
= link_to 'New Task', [:new, @task_list, :task]
\|  
= link_to 'Edit', edit_task_list_path(@task_list)
\|
= link_to 'Back', task_lists_path
